/* all */
.body{
    overflow-x: hidden;
}

/* wording */
.paragraph{
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: lightslategrey;
    display: block;
}

.layout{
    padding: 10px;
    margin-left: 2em;
}

.title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.top_row{
    margin-top: 5em;
}

.top_row_nav{
    margin-top: 1em;
}

/* navigation */
.new-navbar a{
    /* padding: 10px; */
    color: lightskyblue;

}

.new-navbar a:hover {
    color: lightseagreen;
}

.footer_new{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    margin-top: 3em;
}
.footer_items{
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    margin-top: 3em;
}

/* pictures */
.image{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.image_gen{
    width: 90%;
    height: 45em;
}

.footer_image{
    height: 6em;
    margin-left: auto;
    margin-right: auto;
}

.professional_experience_resume{
    display: block;
    margin-top: 3em;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    height: 75em;
}

/* input options */
.input_line{
    width: 100%;
    margin-bottom: .5em;
    margin-top: 2em;
}

/* project specific */